body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
/* containers */
.container-fluid {
  padding: 7% 15%;
}
/* sections */
.color-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: white;
}
/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* heading */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* navigation section  */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  font-size: 1.2rem;
  padding: 0 18px;
}

/* title section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.download-button:hover {
  font-size: 1.5rem;
}
.dog {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* section features */

#features {
  position: relative;
  /* z-index: 1; */
}
.h-fetures {
  font-size: 1.5rem;
}
.p-items {
  padding: 5%;
}
.features-item {
  color: #ef8172;
  margin-bottom: 1rem;
}
i.features-item:hover {
  color: #ff4c68;
}
/* testimonials */
#testimonials.color-section {
  background-color: #ef8172;
}
.testimonial-img {
  margin: 2%;
  width: 15%;
  border-radius: 100%; /*makes photo round  */
}
.h-testimonials {
  font-size: 3rem;
  line-height: 1.5;
}

/* press section */

#press {
  padding-bottom: 3%;
}
#press.color-section {
  background-color: #ef8172;
}
.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
}
.h-card {
  font-size: 1.5rem;
}
.pricing-col {
  padding: 3% 2%;
}
.button-pink:hover {
  background-color: #ef8172;
  border-color: #ef8172;
  font-size: 1.5rem;
}
.card:hover .h-pricing {
  color: #ef8172;
}
.h-pricing {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action  */

/* footer */

#footer .container-fluid {
  padding: 5% 15% 3%;
}
.action-icon {
  margin: 0 3% 2%;
}
.action-icon:hover {
  color: #ef8172;
}
.contact {
  text-decoration: none;
  color: black;
}

/* media query */

@media (max-width: 1028px) {
  .dog {
    position: static;
    transform: rotate(0);
    width: 50%;
    padding: 5% 0;
  }
  #title {
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}
